<launch>
	<arg name="namespace" default="yk_builder" />

	<!-- Launch rs_aligned_depth.launch from realsense2_camera package -->
	<include
		file="$(find vibro_tactile_toolbox)/launch/realsense.launch">
		<arg name="namespace" value="$(arg namespace)"/>
		<arg name="camera_name" value="wrist_camera"/>
		<arg name="serial_number" value=""/>
	</include>

	<group ns="$(arg namespace)">

		<node name="sounddevice_ros_node" pkg="sounddevice_ros" type="sounddevice_ros_publisher_node.py" output="screen" args="-d UMC404HD 192k: USB Audio -c 4">
		</node>

	</group>
</launch>
