<launch>
    <arg name="namespace" default="yk_creator"/>
    <arg name="num_trials" default="100"/>
    <arg name="start_num" default="1"/>
    <arg name="verbose" default="true"/>
    <arg name="block_type" default="2x1"/>
    <arg name="velocity_scale" default="0.01"/>
    <arg name="volume" default="75"/>
    <arg name="demo" default="false"/>
    <arg name="use_audio_terminator" default="false"/>
    <arg name="config" default="lego.yaml"/>
    <group ns="$(arg namespace)">
        <node pkg="vibro_tactile_toolbox" name="test_lego_audio_outcome" type="test_lego_audio_outcome.py" output="screen">
            <param name="namespace" value="$(arg namespace)"/>
            <param name="root_pwd" value="$(find vibro_tactile_toolbox)"/>
            <param name="num_trials" value="$(arg num_trials)"/>
            <param name="start_num" value="$(arg start_num)"/>
            <param name="block_type" value="$(arg block_type)"/>
            <param name="velocity_scale" value="$(arg velocity_scale)"/>
            <param name="volume" value="$(arg volume)"/>
            <param name="demo" value="$(arg demo)"/>
            <param name="use_audio_terminator" value="$(arg use_audio_terminator)"/>
            <param name="verbose" value="$(arg verbose)"/>
            <param name="config" value="$(arg config)"/>
        </node>
    </group>
</launch>